<ul class="sidebar-menu" data-widget="tree" ng-controller="navigationCtrl">
    <li><a class="anchor-link" data-url="dashboard" href="javascript:void(0)" ng-click="navigateTo('dashboard')"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-user"></i> <span>Admin</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="admin-listing" href="#/sub-admin-listing"><i class="fa fa-circle-o"></i>All Admin</a></li>
            <li><a class="anchor-link" data-url="add-admin" href="#/add-admin"><i class="fa fa-circle-o"></i>Add Admin</a></li>
        </ul>
    </li>
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-user"></i> <span>Users</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="users-listing" href="#/users-listing"><i class="fa fa-circle-o"></i>All Users</a></li>
            <li><a class="anchor-link" data-url="add-user" href="#/add-user"><i class="fa fa-circle-o"></i>Add User</a></li>
        </ul>
    </li>    
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-home"></i> <span>Main Source</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="mainsource-listing" href="#/mainsource-listing"><i class="fa fa-circle-o"></i>All Main Sources</a></li>
            <li><a class="anchor-link" data-url="add-mainsource" href="#/add-mainsource"><i class="fa fa-circle-o"></i>Add Main Source</a></li>
        </ul>
    </li>
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-home"></i> <span>Source</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="source-listing" href="#/source-listing"><i class="fa fa-circle-o"></i>All Sources</a></li>
            <li><a class="anchor-link" data-url="add-source" href="#/add-source"><i class="fa fa-circle-o"></i>Add Source</a></li>
        </ul>
    </li>
    <!-- 
    
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-home"></i> <span>Horoscope</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="horoscope-listing" href="#/horoscope-listing"><i class="fa fa-circle-o"></i>All Horoscope</a></li>
            <li><a class="anchor-link" data-url="daily-horoscope" href="#/daily-horoscope"><i class="fa fa-circle-o"></i>Add Horoscope</a></li>
        </ul>
    </li>
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fas fa-bars"></i> <span>Category</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="category-listing" href="#/category-listing"><i class="fa fa-circle-o"></i>All Category</a></li>
            <li><a class="anchor-link" data-url="category-master" href="#/category-master"><i class="fa fa-circle-o"></i>Add Category</a></li>
        </ul>
    </li> -->

    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-bars"></i> <span>quote</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="quote-listing" href="#/category-listing"><i class="fa fa-circle-o"></i>All quote</a></li>
            <li><a class="anchor-link" data-url="quote" href="#/quote"><i class="fa fa-circle-o"></i>Add quote</a></li>
        </ul>
    </li>


    
    <li class="treeview treeview-leftbar">
        <a href="javascript:void(0)">
            <i class="fa fa-bars"></i> <span>Application Settings</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a class="anchor-link" data-url="headfoottext" href="#/header-footer"><i class="fa fa-circle-o"></i>Application Settings</a></li>
        </ul>
    </li>
    <li><a class="anchor-link" href="javascript:void(0)" ng-click="navigateTo('logout')" ><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
</ul>